.App {
  text-align: center;
}

.nav-link{
  cursor: pointer;
}

.nav-link{

  margin-right: 20px;

}


#home{
  margin-bottom: 100px;
}

.button-style {
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
  padding: 5px;
}