.App {
  text-align: center;
}

.nav-link{
  cursor: pointer;
}

.nav-link{

  margin-right: 10px;

}


#home{
  margin-bottom: 100px;
  width: 100%;
  /* border: 1px solid red; */
}

.button-style {
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

#projects{
  background-color: #EDF2F7;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects-card {
  animation: fadeIn 1s ease-out;
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  #home {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 480px) {
  #home {
    margin-bottom: 0px;
  }
}